[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.9b0"
isort = "*"
matplotlib = "*"

[packages]
loguru = "*"
codetiming = "*"
aiohttp = "*"
pendulum = "*"
pandas = "*"
invoke = "*"
deap = "*"
scipy = "*"
hashids = "*"
pydash = "*"
requests = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
